<h1>Dashboard</h1>
<p>Total Donations: <%= number_to_currency(@account.total_donations) %></p>
<br>
<% unless impersonating? %>
  <h2>Make a Donation</h2>
  <%= form_with(model: @donation, local: true) do |form| %>
    <%= form.label :amount %>
    <%= form.number_field :amount, step: 0.01 %>
    <%= form.submit "Donate" %>
  <% end %>
<% end %>
<br>
<% if @child_accounts.any? %>
  <h2>Child Accounts</h2>
  <table>
    <tr>
      <th>Account Name</th>
      <th>Total Donations</th>
      <th>Actions</th>
    </tr>
    <% @child_accounts.each do |child| %>
      <tr>
        <td><%= child.name %></td>
        <td><%= number_to_currency(child.total_donations) %></td>
        <td>
          <%= link_to "Login as", impersonate_account_path(child), method: :post %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
<br>
<div class="top-right">
    <h1><%= @account.name %> </h1>
    <% if impersonating? %>
    <%= link_to "Return to Parent Account", logout_path, method: :delete %>
    <% else %>
    <%= link_to "Logout", logout_path, method: :delete %>
    <% end %>
</div>

<br>
<% if impersonating? %>
  <p><em>Note: You are currently impersonating this account. Donations are disabled.</em></p>
<% end %>